<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>シミュレーションデモ</title>
    <script src="{{ url_for('static', path='js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>

<body>

    <h1>シミュレーションデモ</h1>

    <div class="container">
        <div>
            <h2>圧力（Pressure）時系列グラフ</h2>
            <canvas id="pressureChart" width="400" height="250"
                data-csv-url="{{ url_for('static', path='data.csv') }}"></canvas>
        </div>

        <div>
            <h2>空気圧（AirPressure）時系列グラフ</h2>
            <canvas id="airPressureChart" width="400" height="250"></canvas>
        </div>

        <div>
            <h2>Unityシミュレーション動画</h2>
            <video width="400" controls muted loop src="{{ url_for('static', path='simulation.mp4') }}"></video>
        </div>
    </div>

    <hr>

    <div class="segment-container">
        <h2>枕セグメントの操作</h2>
        <p>下の四角をクリックすると、対応する数値がPythonに送られます。</p>
        <div id="pillow-segments" data-send-url="{{ url_for('receive_data') }}">
            <div class="segment" data-segment="1">1</div>
            <div class="segment" data-segment="2">2</div>
            <div class="segment" data-segment="3">3</div>
            <div class="segment" data-segment="4">4</div>
        </div>
    </div>

    <script src="{{ url_for('static', path='js/main.js') }}"></script>
</body>

</html>